!!!
%html
  %head
    %title Skeleton web app with coffeescript, sass and haml
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
  %body
    #message
    #js-warning{style: "color: red"} If you can read this, the javascript isn't working.
    .hidden{style: "color: red"} If you can read this, the CSS isn't working.
    %script{type:"text/javascript", src: "js/app.js"}
